.myBtn{
  background: var(--background-bras);
  color: var(--color-black);
  border: 1px solid var(--background-bras);
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s;
  &:hover{
    background: none;
    color: var(--color-bras);
  }
  &.outline{
    background: none;
    color: var(--color-bras);
    &:hover{
      background: var(--background-bras);
      color: var(--color-black);
    }
  }
  &.white{
    background: var(--background-white);
    color: var(--color-black);
    border: 1px solid var(--background-white);
    &:hover{
      background: none;
      color: var(--color-bras);
      //-webkit-text-stroke: .5px var(--color-bras);
    }
    &.outline{
      background: none;
      color: var(--color-white);
      &:hover{
        color: var(--color-bras);
        border: 1px solid var(--background-bras);
      }
    }
  }
  @media (max-width: 576px) {
    font-weight: 600;
  }
  &.inevents{
    @media (max-width: 768px) {
      display: none;
    }
  }
}