.drinkMenuPage{
  padding-top: 90px;
  padding-bottom: 50px;
  position: relative;
  &.bg{
    background: black;
  }
  @media(max-width: 991px){
    padding-top: 70px;
  }
  .content{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child{
      padding-top: 60px;
    }
    h2{
      display: inline-block;
      text-align: center;
      //color: var(--color-bras);
      color: var(--color-white);
      -webkit-text-stroke: .5px var(--color-bras);
      font-weight: 700;
      font-size: 22px;
      margin: 0 auto 20px;
      position: relative;
      text-shadow: 1px 1px 1px #000;
      &:after{
        content: '';
        position: absolute;
        top: 45%;
        left: -25px;
        width: 15px;
        height: 2px;
        background: var(--color-white);
      }
      &:before{
        content: '';
        position: absolute;
        top: 45%;
        right: -25px;
        width: 15px;
        height: 2px;
        background: var(--color-white);
      }
    }
    .foodList{
      list-style: none;
      padding: 0;
      li{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
        color: var(--color-white);
        -webkit-text-stroke: .5px var(--color-bras);
        .foodName{
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 0;
        }
        .foodDescription{
          font-size: 12px;
          margin-bottom: 0;
          -webkit-text-stroke: .3px var(--color-bras);
          &.many{
            font-size: 14px;
          }
        }
        .foodPrice{
          margin: 0;
          font-size: 14px;
          font-style: italic;
          font-weight: 900;
          color: var(--color-white);
        }
      }
    }
  }
  .video-background{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}