.scrollToHeader{
  background: var(--background-black);
  position: fixed;
  z-index: 1;
  width: 100%;

  .container{
    @media (max-width: 991px) {
      max-width: 100% !important;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    //min-width: fit-content;
    overflow-x: auto;
    @media (max-width: 991px) {
      justify-content: flex-start;
    }
    li{
      padding: 8px;
      min-width: fit-content;
      //color: var(--color-white);
      color: var(--color-white);
      -webkit-text-stroke: .4px var(--color-bras);
      font-weight: 700;
      cursor: pointer;
      transition: all .3s;

      &:hover{
        transform: scale(1.1);
      }
      @media (max-width: 991px) {
        transform: unset;
      }
      @media (max-width: 768px){
        padding: 8px 6px;
        font-size: 14px;
        &:hover{
          transform: none;
        }
      }
    }
  }
}