.accessibilityPage{
  background-image: url("../../assets/images/jobsBg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--color-white);

  table{
    background: transparent;
    th, td{
      background: transparent;
      color: var(--color-white);
      border-bottom-color: var(--background-red);
    }
    th{
      font-weight: 700;
    }
    caption{
      color: var(--color-white);
    }
  }
}