.sidebar{
  position: fixed;
  height: 100vh;
  width: 0;
  z-index: 10;
  transition: all .3s;
  .bg{
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: calc(100% - 90px);
    visibility: hidden;
    opacity: 0;
    @media(max-width: 991px){
      top: 70px;
      height: calc(100% - 70px);
    }
  }
  .sidebar-content{
    margin-top: 90px;
    padding: 30px 0 90px 0;
    width: 90%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 90px);
    @media(max-width: 991px){
      margin-top: 70px;
      height: calc(100% - 70px);
    }
    background-image: url("../../assets/images/sidebar.png");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: transform 0.3s;
    will-change: transform;
    contain: paint;
    color: var(--color-black);
    font-weight: 700;
    min-height: 800px;
    ul{
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0;
      list-style: none;
      li{
        text-align: center;
        padding: 10px 0;
        a{
          text-decoration: none;
          display: block;
          color: var(--color-white);
          transition: all 0.3s;
        }
        &:hover{
          a{
            transform: scale(1.1);
          }
        }
      }
    }
    @media(max-width: 576px){
      max-width: 300px;
    }
  }
  &.open{
    width: 100%;
    .bg{
      visibility: visible;
      opacity: .3;
    }
    .sidebar-content{
      transform: translateX(0);
    }
  }
}