.footer{
  padding: 50px 0 20px;
  background: var(--background-black);
  .col1{
    //width: fit-content;
    a{
      display: flex;
      align-items: flex-start;
      color: var(--color-white);
      transition: all 0.3s;
      padding: 0 5px;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
      p{
        margin: 0 auto 10px;
      }
      img{
        width: 20px;
        height: 20px;
      }
      span{
        display: block;
        padding-left: 7px;
      }
      &:hover{
        transform: scale(1.05);
      }
      &.location-link{
        flex-direction: column;
        &>div{
          display: flex;
          align-items: flex-start;
        }
      }
    }
    //@media(max-width: 768px){
    //  width: 100%;
    //  max-width: 280px;
    //  margin: auto;
    //}
  }
  .hours{
    padding-left: 5px;
    @media (max-width: 768px) {
      display: flex;
      &>div{
        margin: 0 !important;
      }
    }
    &>div{
      display: flex;
      align-items: center;
      img{
        width: 20px;
        height: 20px;
      }
      p{
        color: var(--color-white);
        margin-bottom: 0;
        padding-left: 7px;
      }
    }
    @media(max-width: 786px){
      &>div{
        width: 100%;
      }
    }
  }
  .email{
    a{
      img{
        width: 20px;
        height: 20px;
      }
      p{
        text-align: left;
        margin: 0;
        padding-left: 7px;
      }
    }
  }
  .website{
    a{
      img{
        width: 20px;
        height: 20px;
      }
      p{
        text-align: left;
        margin: 0;
        padding-left: 7px;
      }
    }
  }

  .title{
    color: var(--color-white);
    margin-bottom: 10px;
    @media(max-width: 768px){
      text-align: center;
    }
  }
  p{
    color: var(--color-white);
  }
  .newsLatterForm{
    input{
      color: var(--color-bras);
      background: transparent;
      border: 1.5px solid var(--background-bras);
      &:focus{
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(228,186,86,.25)
      }
      &::placeholder{
        color: var(--color-bras);
        opacity: .5;
      }
    }
    @media(max-width: 768px){
      max-width: 280px;
      width: 100%;
      margin: 0 auto;
      input{
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
        padding: 8px 10px;
      }
    }
  }
  .thank-you{
    color: var(--color-bras);
  }
  .poweredBy{
    text-align: center;
    padding: 5px;
    a{
      font-weight: bolder;
      color: var(--color-white);
    }
  }
  .footer-links{
    display: flex;
    padding: 20px;
    justify-content: center;
    list-style: none;
    span{
      color: var(--color-white);
    }
    li{
      margin-bottom: 5px;
      padding: 0 5px;
      a{
        color: var(--color-white);
        font-size: 14px;
      }
    }
    @media(max-width: 768px){
      padding: 0;
      text-align: center;
      flex-wrap: wrap;
    }
  }
  .logo-wrapper{
    max-width: 340px;
    width: 100%;
    display: flex;
    margin: auto;
    img{
      display: flex;
      margin: auto;
    }
    @media(max-width: 786px){
      margin: auto;
      max-width: 280px;
      width: 100%;
      img{
        margin: 0 auto;
      }
    }
  }
  .site-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    img{
      width: 30px !important;
      height: auto;
      object-fit: contain;
    }
  }

  @media (max-width: 786px) {
    .site-link{
      padding: 0 10px;
    }
    .hours{
      padding: 0;
      &>div{
        width: fit-content;
        padding: 0 10px;
      }
      @media (max-width: 767px) {
        .closed{
          margin-left: 50px;
        }
      }

    }
    .info-col{
      margin: 0 auto;
      max-width: 260px;
    }
  }
}